/* Esto es un archivo CSS*/
/* Selectores  */
h3{
    color: darkcyan;
}

/* Selector Universal */
*{
    color: red;
}
/* Selector por agrupación */
/* h1, p{
    color: blue;
} */


/* Clases */
/* Siempre llamamos las clases empezando por un (.) */

.estoEsSpan{
    color: darkorange;
}


.caja1 h1, .caja1 p{
    color: blue;
}

.caja2 h1, .caja2 p{
    color: green;
}

/* ID */

#estoEsSpan{
    color: yellowgreen;
}

#caja1 h1, #caja1 p{
    color: orange;
}

#caja2 h1, #caja2 p{
    color: purple;
}